# minecraft.service

[Unit]
Description=minecraft120-2.service
After=network.target

[Service]
ExecStart=/mnt/c/data/java21/jdk-21.0.3+9/bin/java -Dlog4j2.formatMsgNoLookups=true -Xms4G -Xmx4G -jar /mnt/c/data/mc/1/paper-1.21-46.jar
WorkingDirectory=/mnt/c/data/mc/1
Restart=always
RestartSec=10
User=mcuser

[Install]
WantedBy=multi-user.target
